[Desktop Entry]
Name=Bitwarden - Userapps
Exec="{{  pv_ua_bw_install_path  }}/{{  pv_ua_bw_latest_gh_release.name  }}"
Icon={{  pv_ua_bw_install_path  }}/Bitwarden-Icon-{{  pv_ua_tmp_bw_latest_release_assets.json.tag_name  }}.png
Version={{  pv_ua_tmp_bw_latest_release_assets.json.tag_name  }}
Terminal=false
Type=Application
StartupWMClass=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
MimeType=x-scheme-handler/bitwarden;
Categories=Utility;
