[Desktop Entry]
Name={{  pv_jb_idea_product_name  }} - {{  pv_jb_idea_version  }} - Userapps
Icon={{  pv_jb_idea_install_path  }}/bin/idea.svg
StartupWMClass=jetbrains-idea
Comment=The most intelligent Java IDE
Exec="{{  pv_jb_idea_install_path  }}/bin/idea.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
