[Desktop Entry]
Name=IntelliJ IDEA {{  pv_jb_idea_ultimate_or_community  }} - {{  pv_jb_idea_version  }} - Userapps
Icon={{  pv_jb_idea_install_path  }}/bin/idea.svg
StartupWMClass=jetbrains-idea
Comment=The most intelligent Java IDE
Exec="{{  pv_jb_idea_install_path  }}/bin/idea.sh" %u
Version={{  pv_jb_idea_version  }}
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
