[Desktop Entry]
Encoding=UTF-8
Name=Postman - Userapps
Exec={{  pv_ua_postman_install_path  }}/app/Postman %U
Icon={{  pv_ua_postman_install_path  }}/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;