[Desktop Entry]
Name={{  pv_jb_pycharm_product_name  }} - {{  pv_jb_pycharm_version  }} - Userapps
Icon={{  pv_jb_pycharm_install_path  }}/bin/pycharm.svg
StartupWMClass=jetbrains-pycharm
Comment=The full-stach Python IDE
Exec="{{  pv_jb_pycharm_install_path  }}/bin/pycharm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
